@use 'variables' as *;
@use 'atoms';

// use the mixins from the atoms module to compose our molecules. If you prefer the terminology 'blocks' and 'elements' feel free to use it instead!
//The base styling we made on our atoms (elements) does most of the work...here we would make any modifications on the elements if they need to appear differently in a certain molecule (block)
[role="banner"] {
  background: transparent url(../images/starfishes-1351559_1920\ \(1\).jpg) no-repeat center;
  width: 100%;
  background-size: cover;
  background-position-x:center;
  background-position-y: right;
  padding-top: -400px;
  
  >h1 {
    // notice we have to reference the 'atoms' namespace to find our mixins.
   //@include atoms.uppercase($text-light);
   background: transparent url(../images/Header.png) no-repeat center;
   background-size: 200px;
   width: 230px;
   height: 80px;
   margin-top: 50px;

   text-indent: 100%;
	 white-space: nowrap;
	 overflow: hidden;
  
  }

  h2 {
      margin-left: 20px;
      margin-top: -30px;
      color: $text-light;
  }

  @media all and (min-width: 601px) {
    h1 {
      margin-left: 30px;
    }

    h2 {
      margin-left: 50px;
    }
    
  }

  

}
.summary {
  @include atoms.uppercase($text-light);
  padding: 5%;
  
  p:last-child {
    @include atoms.divider;
  }
  a {
    color: $text-light; //in this case the link wants to be light instead of the default dark
  }
}
.preamble, .explanation, .benefits, .requirements, .participation {
  color: $text-dark;
  padding: 5%;
	background: linear-gradient(
	to right, #C4B0A9, #489AC2 75%);
	/* mask created with: https://css-generators.com/wavy-shapes/ */
  --mask:
    radial-gradient(24.71px at 50% 33.60px,#000 99%,#0000 101%) calc(50% - 24px) 0/48px 51% repeat-x,
    radial-gradient(24.71px at 50% -21.6px,#0000 99%,#000 101%) 50% 12px/48px calc(51% - 12px) repeat-x,
    radial-gradient(24.71px at 50% calc(100% - 33.60px),#000 99%,#0000 101%) calc(50% - 24px) 100%/48px 51% repeat-x,
    radial-gradient(24.71px at 50% calc(100% + 21.60px),#0000 99%,#000 101%) 50% calc(100% - 12px)/48px calc(51% - 12px) repeat-x;
  -webkit-mask: var(--mask);
          mask: var(--mask);
}

.intro:after {
  z-index: -1;
  position: absolute;
  top: 0px;
  animation: light 5s infinite;
  content: "";
  display: block;
  width: calc(100% - 100px);
  height: 100%;
  background: 
  linear-gradient(110deg, #18754700 40%, #88c0bd89 50% 55%, #18754700 60%);
  background-position: center top;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  
}
.page-wrapper:before {
  content: "";
  position: absolute;
  top: 0px;
  display: block;
  width: 100vw;
  height: 100%;
  z-index: -1;
  background: 
  linear-gradient(110deg, #18754700 40%, #88c0bd89 50% 55%, #18754700 60%),
  linear-gradient(225deg, #3A7BA9, #61B2B2, #18754700 20%),
  linear-gradient(150deg, #265896, #56A6B6, #18754700 50%),
  linear-gradient(10deg, #134464 0%,#18754700 10%),
  linear-gradient(357deg, #134464 0%,#18754700 10%),
  linear-gradient(10deg,#88c0bd89, #87b2b05f, #18754700 50%),
  linear-gradient(357deg, #88c0bd89, #87b2b05f, #18754700 50%);
  background-position: bottom;
}
.page-wrapper:after {
  animation: bubbles 20s ease-out 1;
  position: absolute;
  bottom: 100%;
  content: "";
  display: block;
  width: 100vw;
  height: 100%;
  background: 
  radial-gradient(rgba(255,255,255,0) 0, rgba(255,255,255,.1) 11%, rgba(255,255,255,.3) 13%, rgba(255,255,255,0) 14%) 0 0,
  radial-gradient(rgba(255,255,255,0) 0, rgba(255,255,255,.2) 11%, rgba(255,255,255,.4) 13%, rgba(255,255,255,0) 14%) -130px -170px,
  radial-gradient(rgba(255,255,255,0) 0, rgba(255,255,255,.1) 11%, rgba(255,255,255,.2) 13%, rgba(255,255,255,0) 14%) 0 0;
  background-size: 280px 280px, 400px 400px, 200px 200px, 300px 300px, 240px 240px, 330px 330px, 100% 100%;
}
.preamble::before {
  content: "";
  animation: swimming 5s ease-in-out infinite;
  width: 100px;
  height: 100px;
  display: block;
  background-image: url(../images/fish.png);
  background-size: contain;
  position: absolute;
  left: -5px;
  top: 735px;
}
@media all and (min-width: 601px) {
  .preamble::before {
    left: -50px;
    top: 74px;
  }
}