@use 'variables' as *;
@use 'atoms';

// use the mixins from the atoms module to compose our molecules. If you prefer the terminology 'blocks' and 'elements' feel free to use it instead!
//The base styling we made on our atoms (elements) does most of the work...here we would make any modifications on the elements if they need to appear differently in a certain molecule (block)
[role="banner"] {
  background: transparent url(../images/starfishes-1351559_1920\ \(1\).jpg) no-repeat center;
  width: 100%;
  background-size: cover;
  background-position-x:center;
  background-position-y: right;
  padding-top: -400px;
  
  >h1 {
    // notice we have to reference the 'atoms' namespace to find our mixins.
   //@include atoms.uppercase($text-light);
   background: transparent url(../images/Header.png) no-repeat center;
   background-size: 200px;
   width: 230px;
   height: 80px;
   margin-top: 50px;

   text-indent: 100%;
	 white-space: nowrap;
	 overflow: hidden;
  
  }

  h2 {
      margin-left: 20px;
      margin-top: -30px;
      color: $text-light;
  }

  @media all and (min-width: 601px) {
    h1 {
      margin-left: 30px;
    }

    h2 {
      margin-left: 50px;
    }
    
  }

  

}
.summary {
  @include atoms.uppercase($text-light);
  padding: 5%;
  
  p:last-child {
    @include atoms.divider;
  }
  a {
    color: $text-light; //in this case the link wants to be light instead of the default dark
  }
}
.preamble, .explanation, .benefits, .requirements, .participation {
  color: $text-dark;
  padding: 5%;
	background: linear-gradient(
	to right, #C4B0A9, #489AC2 75%);
	/* mask created with: https://css-generators.com/wavy-shapes/ */
  --mask:
    radial-gradient(24.71px at 50% 33.60px,#000 99%,#0000 101%) calc(50% - 24px) 0/48px 51% repeat-x,
    radial-gradient(24.71px at 50% -21.6px,#0000 99%,#000 101%) 50% 12px/48px calc(51% - 12px) repeat-x,
    radial-gradient(24.71px at 50% calc(100% - 33.60px),#000 99%,#0000 101%) calc(50% - 24px) 100%/48px 51% repeat-x,
    radial-gradient(24.71px at 50% calc(100% + 21.60px),#0000 99%,#000 101%) 50% calc(100% - 12px)/48px calc(51% - 12px) repeat-x;
  -webkit-mask: var(--mask);
          mask: var(--mask);
}



