@use 'variables' as *;

.intro {
  display: flex;
  flex-flow: column nowrap;

  @media all and (min-width: 601px) {
    display: grid;
    
    // .banner {
        // Empty ruleset
    // }
    
    .summary {
      background-color: $primary;
      max-width: 500px;
      position: absolute;
      top: 170px;
      left: 49px;
      padding: 1%;
    }
    
    .preamble {
      margin: 50px;
      background-color: $primary-opacity;

    }
  }
  

}


