@import url('https://fonts.googleapis.com/css2?family=Lora:wght@600&family=Open+Sans&family=Original+Surfer&family=Roboto&display=swap');

$fonts-headline: "Original Surfer", "Open Sans", Lora, sans-serif;
$fonts-body: Roboto, arial, sans-serif;
$background-color: #095B93;
$primary: #489AC2;
$accent1: #FFCC57;
$accent2: #C4B0A9;
$grey-sidebar: rgba(51, 55, 69, 0.9);
$text-dark: #242834;
$text-light: #fff;
