@import url("https://fonts.googleapis.com/css2?family=Lora:wght@600&family=Open+Sans&family=Original+Surfer&family=Roboto&display=swap");
/*
.wrapper {
  @include flexbox();
}

.item {
  @include flex(1 200px);
  @include order(2);
}*/
h3,
h4 {
  font-family: "Original Surfer", "Open Sans", Lora, sans-serif;
  margin: 0;
}

/*h1 {
  background: $accent1;
  color: $text-light;
  display: inline-block;
  font-weight: normal;
  margin-bottom: 1em;
  padding: 0.5em 1em;
  margin: 0;
}
h2 {
  font-family: $fonts-body;
  color: $text-light;
  font-weight: 900;  //Heavy
  font-size: 6em;
  letter-spacing: 1px;
  line-height: 1em;
}*/
h3 {
  font-size: 2.25em;
  font-weight: 200; /* Thin */
  letter-spacing: 1px;
  line-height: 1em;
  padding: 0.5em 0 0.25em 0;
}

h4 {
  font-size: 1.5em;
  font-weight: 200; /* Thin */
  letter-spacing: 1px;
  line-height: 1em;
  margin: 0.5em 0;
}

p {
  font-family: Roboto, arial, sans-serif;
  font-size: 1em;
  line-height: 1.5em;
  padding: 0.5em 0;
  margin: 0;
}

a {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  color: #242834;
  text-decoration: none;
  transition: border-color 0.2s ease-in-out;
}

a:hover {
  border-color: #FFCC57;
}

header {
  padding: 0;
  margin: 0;
  height: 600px;
}

footer {
  background-color: #FFCC57;
  text-align: center;
  padding: 40px;
  font-weight: 700;
  letter-spacing: 5px;
  /* CHANGING POSITION OF FOOTER
  To add footer to the bottom of the body
  it has to be positioned relative to the body
  so the position of body was set to position: relative.*/
  width: 100%;
  position: absolute;
  bottom: -96px;
}

aside {
  background-color: #C4B0A9;
  color: #242834;
  margin-top: 50px;
  padding: 5%;
}
aside li {
  list-style-type: none;
  padding-bottom: 10px;
}
aside a {
  border: none;
}
aside a.design-name {
  display: block;
  font-weight: bold;
  text-transform: uppercase;
  position: relative;
  left: -25px;
}
aside a.designer-name {
  display: inline;
  font-weight: bold;
}

@keyframes bubbles {
  from {
    bottom: 0px;
  }
  to {
    bottom: 100%;
  }
}
@keyframes light {
  0% {
    translate: 0px 0px;
  }
  50% {
    translate: 100px 0px;
  }
  100% {
    translate: 0px 0px;
  }
}
@keyframes swimming {
  0% {
    translate: 0px 0px;
    transform: rotate(0deg);
  }
  10% {
    translate: 10px 10px;
    transform: rotate(0deg);
  }
  20% {
    translate: 20px 0px;
  }
  40% {
    translate: 50px 10px;
  }
  60% {
    translate: 20px 0px;
  }
  80% {
    translate: 10px 10px;
    transform: rotate(3deg);
  }
  100% {
    translate: 0px 0px;
    transform: rotate(0deg);
  }
}
[role=banner] {
  background: transparent url(../images/starfishes-1351559_1920\ \(1\).jpg) no-repeat center;
  width: 100%;
  background-size: cover;
  background-position-x: center;
  background-position-y: right;
  padding-top: -400px;
}
[role=banner] > h1 {
  background: transparent url(../images/Header.png) no-repeat center;
  background-size: 200px;
  width: 230px;
  height: 80px;
  margin-top: 50px;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}
[role=banner] h2 {
  margin-left: 20px;
  margin-top: -30px;
  color: #fff;
}
@media all and (min-width: 601px) {
  [role=banner] h1 {
    margin-left: 30px;
  }
  [role=banner] h2 {
    margin-left: 50px;
  }
}

.summary {
  font-weight: 300;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #fff;
  padding: 0.5em;
  padding: 5%;
}
.summary p:last-child {
  border-top: 1px solid #FFCC57;
  margin-top: 1em;
  padding-top: 1.5em;
}
.summary a {
  color: #fff;
}

.preamble, .explanation, .benefits, .requirements {
  color: #242834;
  background-color: #489AC2;
  padding: 5%;
}

.participation {
  color: #fff;
  background-color: #489AC2;
  padding: 5%;
}

.intro:after {
  z-index: -1;
  position: absolute;
  top: 0px;
  animation: light 5s infinite;
  content: "";
  display: block;
  width: calc(100% - 100px);
  height: 100%;
  background: linear-gradient(110deg, rgba(24, 117, 71, 0) 40%, rgba(136, 192, 189, 0.537254902) 50% 55%, rgba(24, 117, 71, 0) 60%);
  background-position: center top;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.page-wrapper:before {
  content: "";
  position: absolute;
  top: 0px;
  display: block;
  width: 100vw;
  height: 100%;
  z-index: -1;
  background: linear-gradient(110deg, rgba(24, 117, 71, 0) 40%, rgba(136, 192, 189, 0.537254902) 50% 55%, rgba(24, 117, 71, 0) 60%), linear-gradient(225deg, #3A7BA9, #61B2B2, rgba(24, 117, 71, 0) 20%), linear-gradient(150deg, #265896, #56A6B6, rgba(24, 117, 71, 0) 50%), linear-gradient(10deg, #134464 0%, rgba(24, 117, 71, 0) 10%), linear-gradient(357deg, #134464 0%, rgba(24, 117, 71, 0) 10%), linear-gradient(10deg, rgba(136, 192, 189, 0.537254902), rgba(135, 178, 176, 0.3725490196), rgba(24, 117, 71, 0) 50%), linear-gradient(357deg, rgba(136, 192, 189, 0.537254902), rgba(135, 178, 176, 0.3725490196), rgba(24, 117, 71, 0) 50%);
  background-position: bottom;
}

.page-wrapper:after {
  animation: bubbles 20s ease-out 1;
  position: absolute;
  bottom: 100%;
  content: "";
  display: block;
  width: 100vw;
  height: 100%;
  background: radial-gradient(rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, 0.1) 11%, rgba(255, 255, 255, 0.3) 13%, rgba(255, 255, 255, 0) 14%) 0 0, radial-gradient(rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, 0.2) 11%, rgba(255, 255, 255, 0.4) 13%, rgba(255, 255, 255, 0) 14%) -130px -170px, radial-gradient(rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, 0.1) 11%, rgba(255, 255, 255, 0.2) 13%, rgba(255, 255, 255, 0) 14%) 0 0;
  background-size: 280px 280px, 400px 400px, 200px 200px, 300px 300px, 240px 240px, 330px 330px, 100% 100%;
}

.preamble::before {
  content: "";
  animation: swimming 5s ease-in-out infinite;
  width: 100px;
  height: 100px;
  display: block;
  background-image: url(../images/fish.png);
  background-size: contain;
  position: absolute;
  left: -5px;
  top: 735px;
}

@media all and (min-width: 601px) {
  .preamble::before {
    left: -50px;
    top: 74px;
  }
}
.intro {
  display: flex;
  flex-flow: column nowrap;
}
@media all and (min-width: 601px) {
  .intro {
    display: grid;
  }
  .intro .summary {
    background-color: #489AC2;
    max-width: 500px;
    position: absolute;
    top: 170px;
    left: 49px;
    padding: 1%;
  }
  .intro .preamble {
    margin: 50px;
    background-color: rgba(72, 154, 194, 0.5);
    z-index: -1;
    position: relative;
  }
}

@media only screen and (min-width: 601px) {
  .page-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "intro   intro   intro" "main    main    sidebar" "footer  footer  footer";
  }
  .intro {
    grid-area: intro;
    display: flex;
    position: relative;
  }
  .main {
    grid-area: main;
    margin-left: 5%;
    margin-bottom: 7%;
    margin-right: 5%;
  }
  .sidebar {
    grid-area: sidebar;
    margin-top: 0;
    margin-right: 10%;
    height: fit-content;
  }
  footer {
    grid-area: footer;
    margin-left: -3.3%;
  }
}
* {
  box-sizing: border-box;
}

html {
  background-color: #095B93;
}

body {
  position: relative;
  font-family: Roboto, arial, sans-serif;
  font-size: 85%;
  color: #242834;
  margin: 0;
}

/*# sourceMappingURL=style.css.map */
