@use "variables" as *; //this puts all the variables in the global namespace.
@use 'atoms';
@use 'molecules';
@use 'organisms' as o;
@use 'template';

* {
  box-sizing: border-box;
}
html {
  background-color: $background-color;
}

body {
  position: relative;
  font-family: $fonts-body;
  font-size: 85%;
  color: $text-dark;
  margin: 0;
}
